@media screen and (min-width: 428px) {
  /* Mobile menu(header) */
  .mob-tel {
    font-size: 36px;
  }
  .mob-socials-list {
    gap: 56px;
  }

  /* Modal window */
  .modal-window {
    width: 392px;
  }
  .modal-caption {
    font-size: 16px;
  }
  .policy-label {
    font-size: 12px;
  }
  .modal-comment-wrap {
    width: 360px;
  }

  /* Team */
  .team-inside-list {
    gap: 24px;
  }

  /* Footer */
  .footer-input {
    width: 398px;
  }
}

@media screen and (min-width: 768px) {
  /* Header */
  .menu-open-btn {
    display: none;
  }
  .flex-header {
    display: flex;
  }
  .header-address {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    flex-direction: column;
    gap: 12px;
  }

  /* Hero */
  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  /* Modal */
  .modal-window {
    width: 408px;
    padding: 72px 24px 24px;
  }

  /* Features */
  .features-flex {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features-list-item {
    flex-basis: calc((100% - 48px) / 2);
  }
  .header-start {
    text-align: start;
  }
  .header-feature {
    text-align: start;
  }

  /* Team */
  .team-flex {
    display: flex;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-point {
    flex-basis: calc((100% - 48px) / 2);
  }
  .team-point:not(:last-child) {
    margin-bottom: 0;
  }
  .team-container {
    max-width: 552px;
  }
  .team-item {
    text-align: center;
  }

  /* Customers */

  .customer-list {
    gap: 24px;
  }
  .customers-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* Footer */
  .footer-input {
    width: 264px;
  }
  .footer-form-btn {
    min-width: 165px;
  }

  .secondary-container-footer {
    text-align: start;
    margin-bottom: 0;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
    justify-content: start;
  }
  .footer-logo-socials {
    display: flex;
  }

  /* Second page */
  .projects {
    padding: 64px 0 128px;
  }
  .btn-nav-flex {
    justify-content: center;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .project-nav-item:nth-child(3) {
    margin-right: 0;
  }
  .button-portfolio {
    padding: 12px 24px;
  }
  .projects-flex {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .projects-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .projects-image {
    width: 360px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-wrap {
    max-width: 552px;
    padding: 0;
  }

  .footer-logo-socials {
    gap: 24px;
    margin-bottom: 72px;
  }
  .footer-container {
    max-width: 552px;
  }
}

@media screen and (min-width: 1158px) {
  /* Header */
  .container {
    max-width: 1158px;
  }

  .header-container {
    align-items: baseline;
  }
  .header-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    flex-direction: row;
  }

  /* Hero */
  .hero-header {
    margin-bottom: 48px;
  }

  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    padding: 188px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  /* Features */

  .features {
    padding: 120px 0;
  }
  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .header-feature {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .icons-fetures-container {
    display: flex;
  }

  /* Occupation */
  .occupation-wrap {
    display: block;
  }

  /* Team */
  .team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .team-flex {
    gap: 24px;
  }
  .team-point {
    flex-basis: calc((100% - 72px) / 4);
  }
  .team-container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Customers */

  .customers-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
  .customers-container {
    padding: 120px 0;
  }

  /* Footer */
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .text-footer {
    margin: 0;
  }
  .social-links-list {
    justify-content: start;
  }
  .footer-logo-socials {
    gap: 120px;
  }

  /* Second page */
  .projects {
    padding: 96px 0 120px;
  }
  .btn-nav-flex {
    margin-bottom: 72px;
  }

  .projects-flex {
    row-gap: 48px;
  }
  .projects-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
